#map {
    height: 100vh; /* Full height for the map */
    position: relative; /* To position overlay elements */
}

.pixel {
    position: absolute;
    width: 10px;
    height: 10px;
    pointer-events: none; 
    z-index: 1000; /* Ensure pixels are on top */
    border: solid 1px blue;
}